@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>Enter email:</p>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <p asp-validation-for="Email"></p>    
    <p class="error">@ViewData["error"]</p>

    Email:
    <input asp-for="Email"/>
    <input type="submit"/>
</form>

<p class="success">@ViewData["message"]</p>
